@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Ubuntu', sans-serif;
}

@layer base {
	body {
		@apply w-screen h-screen m-0  bg-gray-50 text-gray-200 flex justify-center items-start box-border;
	}

	p {
		@apply text-gray-200 text-lg mt-2 mb-6 font-medium;
	}

	h1 {
		@apply text-3xl text-blue-300 font-bold tracking-wide;
	}

	h2 {
		@apply text-lg text-blue-300 font-semibold mb-0 tracking-wider;
	}
}

@layer components {
	.header {
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
}
